body {
    margin: 0;
    padding: 0;
    background-color: #fffff0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

span {
    display: block;
    letter-spacing: 1px;
}

hr {
    align-self: center;
}

button {
    border: none;
    background-color: #fffff0;
}

.dayofweek, .weeknumber, .month {
    font-family: 'NotoSansJP-ExtraLight', sans-serif;
}

.dayofweek {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.date {
    align-self: center;
    padding-right: 1rem;
    /* the below font size should be in a media query for mobile size */
    font-size: 24px; 
    font-family: 'NotoSansJP-Light', sans-serif;

}

.month {
    font-size: 14px;
    text-transform: capitalize;
}

.weeknumber {
    font-size: 12px;
}

.date-container {
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1px;

    border-left: 1px solid black;
}

.today {
    display: flex;
    min-height: 70%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;

    border: 1px solid black;

    height: 77.5%;

    margin: 0 1em 0 1em;
    padding: 1em;
}

#day-nav {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 1em 0 1em;
    margin: 5px 0 5px 0;

    height: 10%;
}

#day-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;

    height: 10%;

    padding: 0 1em 0 1em;
    margin: 5px 0 5px 0;
}


.task {
    width: auto;

    background-color: black;
    color:#fffff0;

    border-radius: 3px;

    padding: 0.25em;

    font-family: 'NotoSansJP-Light', sans-serif;
    word-wrap: break-word;
}

@font-face {
    font-family: 'NotoSansJP-ExtraLight';
    src: url(./NotoSansJP-ExtraLight.ttf);
}

@font-face {
    font-family: 'NotoSansJP-Light';
    src: url(./NotoSansJP-Light.ttf);
}

/* Landscape mobile devices (phones, height < 500px) */
@media only screen and (max-height: 500px) {
    .date {
        font-size: 16px;
    }

    .dayofweek, .task {
        font-size: 12px;
    }

    .month {
        font-size: 10px;
    }

    .weeknumber {
        font-size: 8px;
    }

    .material-icons {
        font-size: 20px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .today {
        height: 5%;
    }

    .date {
        font-size: 32px;
    }

    .dayofweek, .month {
        font-size: 12px;
    }

    .weeknumber {
        font-size: 10px;
    }

    .material-icons {
        font-size: 24px;
    } */
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}